@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('../fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Pretendard', system-ui, sans-serif;
    font-size: 15px;
  }
  /* 마우스 selection */
  ::selection{background: rgb(180, 212, 250);}
  ::-moz-selection{background: rgb(180, 212, 250);}
}

body {
  background: var(--background);
  color: var(--foreground);
}
